# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dldzvrx2j
CLOUDINARY_API_KEY=183142698578986
CLOUDINARY_API_SECRET=j7QImviaqxCvWzcyZDYVB-Nbmrw
GMAIL_USER=
GMAIL_APP_PASSWORD=
EMAIL_USER=
EMAIL_PASS=

# Gemini Configuration
NEXT_PUBLIC_GEMINI_API_KEY=

# Email Configuration
RESEND_API_KEY=
